@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

/* Navbar */

.nav-bar {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    text-decoration: none;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-bar h2 {
    font-size: 40px;
}

.nav-bag {
    display: flex;
    align-items: center;
}

.bag-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background-color: yellow;
    border-radius: 58%;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 4px;
}

/* not found */
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(68, 68, 68);
    min-height: 88vh;
}

.not-found h2 {
    font-size: 55px;
}

.not-found p {
    font-size: 60px;
}
